<html>
  <head>
    <meta charset="{{ site.charset }}" />
    <title>{{ site.title }} | {{ site.description }}</title>
    <meta name="description" content="{{ site.description}}">
    <link rel="stylesheet" href="/css/style.css" charset="utf-8" type="text/css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{site.pingback_url}}" />
    {{ wp_head }}
  </head>
  <body>
